<%= form_with(model: soccer_player) do |form| %>
  <% if soccer_player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(soccer_player.errors.count, "error") %> prohibited this soccer_player from being saved:</h2>

      <ul>
        <% soccer_player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.number_field :number %>
  </div>

  <div>
    <%= form.label :team_id, style: "display: block" %>
    <%= select_tag('soccer_player[team_id]', options_for_select(@teams.pluck(:name, :id))) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
