<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Quantidade de Partidas:</strong>
    <%= team.match_quatity %>
  </p>

  <p>
    <strong>Quantidade de jogadores:</strong>
    <%= team.player_quantity %>
  </p>

  <p>
    <strong>Victories:</strong>
    <%= team.victories %>
  </p>

  <p>
    <strong>Loses:</strong>
    <%= team.loses %>
  </p>

</div>
